.menu__link {
    color: #333333;
    padding: .5rem 1rem;
}

.menu__link.ativo {
    border-bottom: 2px solid #0073e6;

}

.menu__link:hover {
    background-color: rgba(28, 78, 241, 0.3);
}